.topnav a {
  width: 800px;
  /* margin: 0 auto; */
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #8a8888;
}

.topnav {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center;
}
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.headshot {
  align-content: left;
  text-align: center;
  display: block;
  margin: 0 auto;
  /* width: 50%; */
  /* height: 50 vh; */
  /* width: 400px; /* Sets a fixed width */
  height: 100vh;
  width: 100000000px;
  /* margin: 100px; */
  margin-top: 10%;
}

.sidenav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sidenav a.active {
  background-color: #04aa6d;
  color: white;
}

.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

.resume-header {
  align-content: center;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50 vh;
}

.section-divider {
  border: none; /* Remove default border */
  border-top: 1px solid #ccc; /* Create a 1px solid grey line */
  margin: 20px 0; /* Add some vertical spacing */
}

body {
  background-color: #e6d3f5;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* .headertext h1{
    align-content: left;
    text-align: center;
    display: block; 
    margin: 0 auto;
    width: 50%;
    margin-top: -30px;
} */

.descriptiontext p {
  align-content: left;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
}

.grid-container {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

body p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body h1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.my-custom-border {
  margin-top: 5000px;
  align-items: center;
  align-content: center;
  display: block;
  margin: 200px auto;
  background-color: white;
  width: 80%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #d6d0d0; /* 2px solid border with a dark gray color */
  border-radius: 20px; /* Optional: adds rounded corners */
  padding: 1rem; /* Optional: adds internal spacing so content doesn't touch the border */
}

.about-box {
  background-color: white;
  margin-top: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #d6d0d0; /* 2px solid border with a dark gray color */
  border-radius: 20px; /* Optional: adds rounded corners */
  position: relative;
  width: 100vh;
  padding: 5rem 5rem; /* Optional: adds internal spacing so content doesn't touch the border */
}

.name {
  align-content: center;

  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  /* height: 50 vh; */
}

/* .right-side {
  background-color: #eee6f7;
  height: 100vh;
  max-width: 100rem;
} */
