.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.headshot {
    align-content: center;
    text-align: center;
    display: block; 
    margin: 0 auto;
    width: 50%;
    height: 50 vh;
}

.sidenav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sidenav a.active {
  background-color: #04aa6d;
  color: white;
}

.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

.resume-header {
  align-content: center;
    text-align: center;
    display: block; 
    margin: 0 auto;
    width: 50%;
    height: 50 vh;
}

.section-divider {
  border: none; /* Remove default border */
  border-top: 1px solid #ccc; /* Create a 1px solid grey line */
  margin: 20px 0; /* Add some vertical spacing */
}